<div class="main-wrapper">

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Users</h3>
                        <ul class="breadcrumb">

                            <li class="breadcrumb-item"><a href="#">Organization</a></li>
                            <li class="breadcrumb-item">Add User</li>
                        </ul>
                    </div>

                </div>
            </div>
            <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <input type="text" class="form-control floating select-focus" id="first_Name"
                                formControlName="firstName" name="first_Name"
                                [ngClass]="{'is-invalid': submitted && editUserForm.controls.firstName.errors}">
                            <div *ngIf="submitted && editUserForm.controls.firstName.errors" class="text-danger">
                                <div *ngIf="submitted && editUserForm.controls.firstName.errors.required">
                                    FirstName is required
                                </div>
                            </div>
                            <label class="focus-label">First Name *</label>
                        </div>

                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <input type="text" class="form-control floating select-focus" id="last_Name"
                                formControlName="lastName" name="last_Name">

                            <label class="focus-label">Last Name</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <input type="email" class="form-control floating" id="email" name="email"
                                formControlName="email" required
                                [ngClass]="{'is-invalid': submitted && editUserForm.controls.email.errors}">
                            <div *ngIf="submitted && editUserForm.controls.email.errors" class="text-danger">
                                <div *ngIf="submitted && editUserForm.controls.email.errors.required">
                                    Email is required
                                </div>
                            </div>
                            <label class="focus-label">Email *</label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <app-textbox [label]="'Phone Number'" [id]="'phone_number'"
                            [control]="editUserForm.controls.phoneNumber" [ErrorMessage]="'Phone Number is required'"
                            [submitted]="submitted"></app-textbox>

                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">

                            <input type="password" class="form-control floating" id="password" name="password"
                                formControlName="password" required
                                [ngClass]="{'is-invalid': submitted && editUserForm.controls.password.errors}">
                            <div *ngIf="submitted && editUserForm.controls.password.errors" class="text-danger">
                                <div *ngIf="submitted && editUserForm.controls.password.errors.required">
                                    Password is required
                                </div>
                            </div>
                            <label class="focus-label">Password *</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <select class="form-control  floating" id="course_id" name="course_id"
                                formControlName="role"
                                [ngClass]="{'is-invalid': submitted && editUserForm.controls.role.errors}">
                                <option value="">Select Role</option>
                                <option *ngFor="let item of rolesData" [value]="item.id">{{ item.name }}
                                </option>
                            </select>
                            <div *ngIf="submitted && editUserForm.controls.role.errors" class="text-danger">
                                <div *ngIf="submitted && editUserForm.controls.role.errors.required">
                                    Role is required
                                </div>
                            </div>
                            <label class="focus-label">Roles *</label>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">

                        <div class="form-group form-focus select-focus">
                            <select class="form-control  floating" id="User_Branch" name="User_Branch"
                                formControlName="branch"
                                [ngClass]="{'is-invalid': submitted && editUserForm.controls.branch.errors}">
                                <option value="">Select Branch</option>
                                <option *ngFor="let item of branchData" [value]="item.id">{{ item.name }}
                                </option>
                            </select>
                            <div *ngIf="submitted && editUserForm.controls.branch.errors" class="text-danger">
                                <div *ngIf="submitted && editUserForm.controls.branch.errors.required">
                                    Branch is required
                                </div>
                            </div>
                            <label class="focus-label">Branch *</label>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <button class="btn btn-danger btn-block" type="button" onclick="window.history.back();"> Cancel
                        </button>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <button class="btn btn-success btn-block" type="submit"> Submit </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="width: 100%; text-align: center; position: fixed; z-index: 9998889; top: 250px; left: 0px; text-align: center; display:none"
    id="loader">
    <img src="assets/img/loading.gif" style="width: 150px; height: auto">
</div>