<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
            <div class="card-body">
              <span class="dash-widget-icon"><i class="las la-users"></i></span>
              <div class="dash-widget-info">
                <h3>13</h3>
                <span>Students</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
            <div class="card-body">
              <span class="dash-widget-icon"><i class="las la-book-open"></i></span>
              <div class="dash-widget-info">
                <h3>491</h3>
                <span>Chapters</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
            <div class="card-body">
              <span class="dash-widget-icon"><i class="las la-book-reader"></i></span>
              <div class="dash-widget-info">
                <h3>1936</h3>
                <span>Topics</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
            <div class="card-body">
              <span class="dash-widget-icon"><i class="las la-file-video"></i></span>
              <div class="dash-widget-info">
                <h3>175</h3>
                <span>Videos</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title">Courses</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/dashboard">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Courses</li>
            </ul>
          </div>
          <div class="col-auto float-right ml-auto">
            <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_course"><i class="fa fa-plus"></i> Add
              Course</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pad_b_20">
          <app-bulk-upload [pageName]="pageName" (onFileUpload)="OnDocumentUpload($event)"></app-bulk-upload>
        </div>
        <div class="col-md-12">
          <app-grid [data]="courseList" [coloumnDef]="colDefs" (editRecord)="editGridRecord($event)"
            (deleteRecord)="deleteGridRecord($event)"></app-grid>
        </div>
      </div>
    </div>
    <div id="add_course" class="modal custom-modal fade" role="dialog" *ngIf="isAddPopupVisible">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Course</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="addform" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="form-group">
                    <label>Course Name <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" id="course_name" name="course_name" [(ngModel)]="courseName"
                      formControlName="name" [ngClass]="{'is-invalid': submitted && courseForm.controls.name.errors}" />
                    <div *ngIf="submitted && courseForm.controls.name.errors" class="text-danger">
                      <div *ngIf="submitted && courseForm.controls.name.errors.required">
                        Course Name is required
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="submit-section">
                <button class="btn btn-primary submit-btn" type="submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="edit_course" class="modal custom-modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Course</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="editform">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="form-group">
                    <label>Course Name <span class="text-danger">*</span></label>
                    <input class="form-control" value="" type="text" id="edit_course_name" name="course_name"
                      [(ngModel)]="courseName" required />
                  </div>
                </div>
              </div>
              <div class="submit-section">
                <input type="hidden" id="course_id" name="course_id" />
                <button class="btn btn-primary submit-btn" type="submit" (click)="updateCourse()">
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>