<div class="main-wrapper">

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Topics</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Topics</li>
                        </ul>
                    </div>
                    <div class="col-auto float-right ml-auto">
                        <a routerLink="/addtopic" class="btn add-btn"><i class="fa fa-plus"></i> Add Topic</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pad_b_20">
                    <app-bulk-upload [pageName]="pageName" (onFileUpload)="OnDocumentUpload($event)"></app-bulk-upload>
                </div>
                <div class="col-md-12">
                    <app-grid [data]="topicsList" [coloumnDef]="colDefs" (editRecord)="editGridRecord($event)"
                        (deleteRecord)="deleteGridRecord($event)"></app-grid>
                </div>
            </div>
        </div>
        

    </div>
</div>