<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Practice Analysis</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
                        <li class="breadcrumb-item">Student-wise Practice Analysis</li>
                        <li class="breadcrumb-item">Student 1</li>
                        <li class="breadcrumb-item active">Practice Session:{{assessment.assessmentId}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4 d-flex">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h4 class="card-title">Practice Session: {{assessment.assessmentId}}</h4>
                        <h4 class="card-title">Practiced On: {{assessment.practicedOn}}</h4>
                        <div class="statistics">
                            <div class="row">
                                <div class="col-md-4 col-4 text-center">
                                    <div class="stats-box mb-4 bg-primary">
                                        <p class="text-white">Attempted</p>
                                        <h3 class="text-white">{{assessment.totalAttempted}}</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 col-4 text-center">
                                    <div class="stats-box mb-4 bg-success">
                                        <p class="text-white">Correct</p>
                                        <h3 class="text-white">{{assessment.correctAnswers}}</h3>
                                    </div>
                                </div>
                                <div class="col-md-4 col-4 text-center">
                                    <div class="stats-box mb-4 bg-danger">
                                        <p class="text-white">Wrong</p>
                                        <h3 class="text-white">{{assessment.wrongAnswers}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="card-title">Practiced from Chapters:</h4>
                        <div >
                            <p *ngFor="let chapter of assessment.practicedFromChapters">{{chapter.name}}</p>
                        </div>
                        <h4 class="card-title">Practiced from Topics:</h4>
                        <div>
                            <p *ngFor="let topics of assessment.practicedFromTopics">{{topics.name}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 d-flex">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h4 class="card-title">Analysis on Correct Answers</h4>
                        <h4 class="card-title">Difficulty Level Analysis:</h4>
                        <div class="statistics">
                            <div class="row" >
                                <div class="col-md-4 col-4 text-center" *ngFor="let dlevel of assessment.correctAnswersAnalysis.difficultyLevelAnalysis">
                                    <div [ngClass]="{'stats-box mb-4 bg-success':dlevel.name == 'Easy', 'stats-box mb-4 bg-primary': dlevel.name == 'Medium', 'stats-box mb-4 bg-danger':dlevel.name == 'Difficult'}">
                                        <p class="text-white">{{dlevel.name}}</p>
                                        <h3 class="text-white">{{dlevel.questionsCount}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="card-title">Chapter-Wise Analysis:</h4>
                        <div>
                            <p *ngFor="let item of assessment.correctAnswersAnalysis.chapterWiseAnalysis" >
                                {{item.name}} 
                                <span class="float-right">{{item.questionsCount}}</span></p>
                           
                        </div>
                        <h4 class="card-title">Topic-Wise Analysis:</h4>
                        <div>
                            <p *ngFor="let item of assessment.correctAnswersAnalysis.topicWiseAnalysis" >
                                {{item.name}} 
                                <span class="float-right">{{item.questionsCount}}</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 d-flex">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h4 class="card-title">Analysis on Wrong Answers</h4>
                        <h4 class="card-title">Difficulty Level Analysis:</h4>
                        <div class="statistics">
                            <div class="row">
                                <div class="col-md-4 col-4 text-center" *ngFor="let dlevel of assessment.wrongAnswersAnalysis.difficultyLevelAnalysis">
                                    <div [ngClass]="{'stats-box mb-4 bg-success':dlevel.name == 'Easy', 'stats-box mb-4 bg-primary': dlevel.name == 'Medium', 'stats-box mb-4 bg-danger':dlevel.name == 'Difficult'}">
                                        <p class="text-white">{{dlevel.name}}</p>
                                        <h3 class="text-white">{{dlevel.questionsCount}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="card-title">Chapter-Wise Analysis:</h4>
                        <div>
                            <p *ngFor="let item of assessment.wrongAnswersAnalysis.chapterWiseAnalysis" >
                                {{item.name}} 
                                <span class="float-right">{{item.questionsCount}}</span></p>
                        </div>
                        <h4 class="card-title">Topic-Wise Analysis:</h4>
                        <div>
                            <p *ngFor="let item of assessment.wrongAnswersAnalysis.topicWiseAnalysis" >
                                {{item.name}} 
                                <span class="float-right">{{item.questionsCount}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>