<div class="main-wrapper">
    
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Subjects</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Subjects</li>
                        </ul>
                    </div>
                    <div class="col-auto float-right ml-auto">
                        <button ty="button" class="btn add-btn" data-toggle="modal" data-target="#add_subject" (click)="getAllCourses()" ><i
                            class="fa fa-plus"></i> Add Subject</button>
                        <!-- <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_subject" (click)="getAllCourses()"><i
                                class="fa fa-plus"></i> Add Subject</a> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pad_b_20">
                    <h4>Bulk Upload</h4>
                    <form class="import_div" id="importform" action="#" method="POST" (change)="onFileSelected($event)">
                        <input type="file" class="form-control" name="import_file" required>
                        <button class="btn import-btn" type="submit"><i class="las la-file-upload"></i> Import</button>
                    </form>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table datatable">
                            <thead>
                                <tr>
                                    <th class="no-sort"></th>
                                    <th>S. No.</th>
                                    <th>Subject</th>
                                    <th>Course/Class Name</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let subject of subject">
                                <tr>
                                    <td>
                                        <button class="btn edit m-r-5" id="1" (click)="editSubject(subject.id);"
                                            data-toggle="modal" data-target="#edit_subject" type="button"><i
                                                class="fa fa-pencil"></i></button>
                                        <button class="btn delete m-r-5" id="1" (click)="showConfirmation(subjectId.id);"
                                            type="button"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                    <td>{{subject.id}}</td>
                                    <td>{{subject.name}}</td>
                                    <!-- <td>{{subject.courseName}}</td> -->
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="add_subject" class="modal custom-modal fade popup" role="dialog"  [ngClass]="{'show': isPopupVisible}" *ngIf="isAddPopupVisible">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Subject</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addform" >
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group form-focus">
                                        <input type="text" class="form-control floating" id="subject_name" [(ngModel)]="subjectName" 
                                            name="subject_name">
                                        <label class="focus-label">Subject Name *</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group form-focus select-focus">
                                        <select class="select floating" id="class_id" name="class_id" [(ngModel)]="selectedValue">
                                            <option value="">Select Course/Class</option>
                                            <option *ngFor="let item of courseData" [value]="item.id">{{ item.name }}</option>
                                            
                                            
                                        </select>
                                        <label class="focus-label">Course/Class *</label>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-section">
                                <button class="btn btn-primary submit-btn" type="submit" (click)="createSubject()">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="edit_subject" class="modal custom-modal fade" role="dialog" *ngIf="isAddPopupVisible">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Subject</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editform">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group form-focus">
                                        <input type="text" class="form-control floating" id="edit_subject_name" [(ngModel)]="subjectName"
                                            name="subject_name">
                                        <label class="focus-label">Subject Name *</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group form-focus select-focus">
                                        <select class="select floating" id="edit_class_id" name="class_id"  [(ngModel)]="selectedValue">
                                            <option value="">Select Course/Class</option>
                                            <option *ngFor="let item of courseData" [value]="item.id">{{ item.name }}</option>
                                        </select>
                                        <label class="focus-label">Course/Class *</label>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-section">
                                <input type="hidden" id="subject_id" name="subject_id">
                                <button class="btn btn-primary submit-btn" type="submit" (click)="updateSubject()">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>