<div class="main-wrapper">

  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title">Videos</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Videos</li>
            </ul>
          </div>
          <div class="col-auto float-right ml-auto">
            <a routerLink="/addVideo" class="btn add-btn"><i class="fa fa-plus"></i> Add Video</a>
          </div>
        </div>
      </div>
      <div class="row filter-row" style="display:none;">
        <div class="col-sm-6 col-md-3">
          <div class="form-group form-focus">
            <input type="text" class="form-control floating" id="student_name">
            <label class="focus-label">Student Name</label>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group form-focus select-focus">
            <select class="select floating" id="class_id" name="class_id" required>
              <option value="">Select Course/Class</option>
              <option *ngFor="let item of courseData" [value]="item.id">{{ item.name }}</option>

            </select>
            <label class="focus-label">Course/Class *</label>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <a href="#" class="btn btn-success btn-block" onclick="getstudents_filter();"> Search </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pad_b_20">
          <h4>Bulk Upload</h4>
          <form class="import_div" id="importform" action="#" method="POST">
            <input type="file" class="form-control" name="import_file" required (change)="onFileSelected($event)" />
            <button class="btn import-btn" type="submit" style="display: none;">
              <i class="las la-file-upload"></i> Import
            </button>
          </form>
        </div>
        <div class="col-md-12">
          <app-grid [data]="videosList" [coloumnDef]="colDefs" (editRecord)="editGridRecord($event)"
            (deleteRecord)="deleteGridRecord($event)"></app-grid>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  style="width: 100%; text-align: center; position: fixed; z-index: 9998889; top: 250px; left: 0px; text-align: center; display:none"
  id="loader">
  <img src="assets/img/loading.gif" style="width: 150px; height: auto">
</div>