<div class="main-wrapper">

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title"><a href="/students">Students</a></h3>
                        <ul class="breadcrumb">

                            <li class="breadcrumb-item">Add Students</li>
                        </ul>
                    </div>

                </div>
            </div>
            <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <app-textbox [label]="'Admission Id'" [id]="'admission_id'"
                            [control]="studentForm.controls.admissionId" (textboxOnChange)="OnAdmissionIdChange($event)"
                            [ErrorMessage]="'Admission Id is required'" [submitted]="submitted"></app-textbox>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <input type="date" class="form-control floating select-focus" id="admission_date"
                                name="admission_date" formControlName="admissionDate"
                                [ngClass]="{'is-invalid': submitted && studentForm.controls.admissionDate.errors}">
                            <label class="focus-label">Admission Date *</label>
                            <div *ngIf="submitted && studentForm.controls.admissionDate.errors" class="text-danger">
                                <div *ngIf="submitted && studentForm.controls.admissionDate.errors.required">
                                    Admission Date is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <input type="text" class="form-control floating select-focus" id="student_name"
                                name="student_name" formControlName="studentName"
                                [ngClass]="{'is-invalid': submitted && studentForm.controls.studentName.errors}">
                            <label class="focus-label">Student Full Name *</label>
                            <div *ngIf="submitted && studentForm.controls.studentName.errors" class="text-danger">
                                <div *ngIf="submitted && studentForm.controls.studentName.errors.required">
                                    Student Name is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <input type="text" class="form-control floating select-focus" id="father_name"
                                name="father_name" formControlName="fatherName"
                                [ngClass]="{'is-invalid': submitted && studentForm.controls.fatherName.errors}">
                            <label class="focus-label">Father Name *</label>
                            <div *ngIf="submitted && studentForm.controls.fatherName.errors" class="text-danger">
                                <div *ngIf="submitted && studentForm.controls.fatherName.errors.required">
                                    Father Name is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <input type="text" class="form-control floating select-focus" id="mother_name"
                                name="mother_name" formControlName="motherName"
                                [ngClass]="{'is-invalid': submitted && studentForm.controls.motherName.errors}">
                            <label class="focus-label">Mother Name *</label>
                            <div *ngIf="submitted && studentForm.controls.motherName.errors" class="text-danger">
                                <div *ngIf="submitted && studentForm.controls.motherName.errors.required">
                                    Mother Name is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <input type="date" class="form-control floating select-focus" id="dob" name="dob" required
                                formControlName="dateofBirth"
                                [ngClass]="{'is-invalid': submitted && studentForm.controls.dateofBirth.errors}">
                            <label class="focus-label">Date Of Birth *</label>
                            <div *ngIf="submitted && studentForm.controls.dateofBirth.errors" class="text-danger">
                                <div *ngIf="submitted && studentForm.controls.dateofBirth.errors.required">
                                    Date of Birth is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <select class="form-control floating" id="gender" name="gender" required
                                formControlName="gender">
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <label class="focus-label">Gender *</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <input type="number" class="form-control floating select-focus" id="mobile_number"
                                name="mobile_number" formControlName="mobileNumber"
                                [ngClass]="{'is-invalid': submitted && studentForm.controls.mobileNumber.errors}">
                            <label class="focus-label">Mobile Number *</label>
                            <!-- <div *ngIf="submitted && studentForm.controls.mobileNumber.errors" class="text-danger">
                                <div *ngIf="submitted && studentForm.controls.mobileNumber.errors.required">
                                    Mobile Number is required
                                </div>
                            </div> -->
                            <div *ngIf="submitted && studentForm.controls['mobileNumber'].errors?.required"><span
                                    style="color:red"> number is required</span>
                            </div>
                            <div *ngIf="submitted && studentForm.controls['mobileNumber'].errors?.invalidMobileNumber">
                                <span style="color: red;">Invalid mobile number format</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <input type="number" class="form-control floating select-focus" id="alt_mobile_number"
                                formControlName="altMobileNumber" name="alt_mobile_number">
                            <label class="focus-label">Alternate Mobile Number</label>
                            <div *ngIf="submitted && studentForm.controls['altMobileNumber'].errors?.required"><span
                                    style="color:red"> number is required</span>
                            </div>
                            <div
                                *ngIf="submitted && studentForm.controls['altMobileNumber'].errors?.invalidMobileNumber">
                                <span style="color: red;">Invalid Alternative Mobile Number format</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <input type="email" class="form-control floating select-focus" id="email" name="email"
                                formControlName="email">
                            <label class="focus-label">Email</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <select class="form-control floating" id="class_id" name="class_id"
                                [ngClass]="{'is-invalid': submitted && studentForm.controls.courseId.errors}"
                                formControlName="courseId">
                                <option value="">Select Course/Class</option>
                                <option *ngFor="let item of courses" [value]="item.id">{{ item.name }}</option>
                            </select>
                            <label class="focus-label">Course/Class *</label>
                            <div *ngIf="submitted && studentForm.controls.courseId.errors" class="text-danger">
                                <div *ngIf="submitted && studentForm.controls.courseId.errors.required">
                                    Course is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group form-focus select-focus">
                            <input type="text" class="form-control floating select-focus" id="address_line1"
                                name="address_line1" formControlName="addressLine1"
                                [ngClass]="{'is-invalid': submitted && studentForm.controls.addressLine1.errors}">
                            <label class="focus-label">Address Line 1 *</label>
                            <div *ngIf="submitted && studentForm.controls.addressLine1.errors" class="text-danger">
                                <div *ngIf="submitted && studentForm.controls.addressLine1.errors.required">
                                    AddessLane 1 is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group form-focus select-focus">
                            <input type="text" class="form-control floating select-focus" id="address_line2"
                                name="address_line2" formControlName="addressLine2"
                                [ngClass]="{'is-invalid': submitted && studentForm.controls.addressLine2.errors}">
                            <label class="focus-label">Address Line 2 *</label>
                            <div *ngIf="submitted && studentForm.controls.addressLine2.errors" class="text-danger">
                                <div *ngIf="submitted && studentForm.controls.addressLine2.errors.required">
                                    AddessLane 2 is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group form-focus select-focus">
                            <input type="text" class="form-control floating select-focus" id="landmark" name="landmark"
                                formControlName="landMark">
                            <label class="focus-label">Landmark</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <app-dropdown [label]="'State'" [id]="'stateId'" [options]="states"
                            [control]="studentForm.controls.stateId" (dropdownOnChange)="onStateChange($event)"
                            [ErrorMessage]="'State is required'" [submitted]="submitted"></app-dropdown>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <app-dropdown [label]="'City'" [id]="'cityId'" [options]="cities"
                            [control]="studentForm.controls.cityId" (dropdownOnChange)="onCityChange($event)"
                            [ErrorMessage]="'City is required'" [submitted]="submitted"></app-dropdown>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <input type="text" class="form-control floating select-focus" id="pincode" name="pincode"
                                required formControlName="pinCode">
                            <label class="focus-label">Pincode</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <button class="btn btn-danger btn-block" type="button" onclick="window.history.back();"> Cancel
                        </button>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <button class="btn btn-success btn-block" type="submit"> Submit </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="width: 100%; text-align: center; position: fixed; z-index: 9998889; top: 250px; left: 0px; text-align: center; display:none"
    id="loader">
    <img src="assets/img/loading.gif" style="width: 150px; height: auto">
</div>