<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title"><a href="/subjects">Subjects</a></h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">Edit Subject</li>
                        </ul>
                    </div>

                </div>
            </div>
            <form [formGroup]="editSubjectForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group form-focus select-focus">
                            <app-textbox [label]="'Subject Name '" [id]="'edit_subject_name'"
                                [control]="editSubjectForm.controls.name" [ErrorMessage]="'Name  is required'"
                                [submitted]="submitted"></app-textbox>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group form-focus select-focus">
                            <app-dropdown [label]="'Course'" [options]="courseData"
                                [control]="editSubjectForm.controls.course"
                                (dropdownOnChange)="getClassesByCourseId($event)" [ErrorMessage]="'Course is required'"
                                [submitted]="submitted"></app-dropdown>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group form-focus select-focus">
                            <app-dropdown [label]="'Class'" [options]="classData"
                                [control]="editSubjectForm.controls.class"
                                (dropdownOnChange)="onSelectionChange($event)" [ErrorMessage]="'Class is required'"
                                [submitted]="submitted"></app-dropdown>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <app-image-upload (onFileUpload)="onFileSelected($event)"
                            [imageURL]="selectedImageURL"></app-image-upload>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <button class="btn btn-danger btn-block" type="button" onclick="window.history.back();"> Cancel
                        </button>
                    </div>
                    <div class="col-sm-6 col-md-3">

                        <button class="btn btn-success btn-block" type="submit"> Update </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>