<div class="main-wrapper">

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Users</h3>
                        <ul class="breadcrumb">

                            <li class="breadcrumb-item"><a href="#">Organization</a></li>
                            <li class="breadcrumb-item">Add User</li>
                        </ul>
                    </div>

                </div>
            </div>
            <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <app-textbox [label]="'First Name'" [id]="'first_Name'"
                            [control]="addUserForm.controls.firstName" [ErrorMessage]="'First Name is required'"
                            [submitted]="submitted"></app-textbox>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <app-textbox [label]="'Last Name'" [id]="'last_Name'" [control]="addUserForm.controls.lastName"
                            [submitted]="submitted"></app-textbox>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <input type="email" class="form-control floating" id="email" name="email"
                                formControlName="email" required
                                [ngClass]="{'is-invalid': submitted && addUserForm.controls.email.errors}">
                            <div *ngIf="submitted && addUserForm.controls.email.errors" class="text-danger">
                                <div *ngIf="submitted && addUserForm.controls.email.errors.required">
                                    Email is required
                                </div>
                            </div>
                            <label class="focus-label">Email *</label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <app-textbox [label]="'Phone Number'" [id]="'phone_number'"
                            [control]="addUserForm.controls.phoneNumber" [ErrorMessage]="'Phone Number is required'"
                            [submitted]="submitted"></app-textbox>

                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                        
                            <input type="password" class="form-control floating" id="password" name="password"
                                formControlName="password" required
                                [ngClass]="{'is-invalid': submitted && addUserForm.controls.password.errors}">
                            <div *ngIf="submitted && addUserForm.controls.password.errors" class="text-danger">
                                <div *ngIf="submitted && addUserForm.controls.password.errors.required">
                                    Password is required
                                </div>
                            </div>
                            <label class="focus-label">Password *</label>
                        </div>
                        </div>

                    



                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <app-dropdown [label]="'Role'" [id]="'User_Role'" [options]="rolesData"
                            [control]="addUserForm.controls.role" [ErrorMessage]="'Role is required'"
                            [submitted]="submitted"></app-dropdown>

                    </div>
                    <div class="col-sm-6 col-md-3">
                        <app-dropdown [label]="'Branch'" [id]="'User_Branch'" [options]="branchData"
                            [control]="addUserForm.controls.branch" [ErrorMessage]="'Branch is required'"
                            [submitted]="submitted"></app-dropdown>


                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <button class="btn btn-danger btn-block" type="button" onclick="window.history.back();"> Cancel
                        </button>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <button class="btn btn-success btn-block" type="submit"> Submit </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="width: 100%; text-align: center; position: fixed; z-index: 9998889; top: 250px; left: 0px; text-align: center; display:none"
    id="loader">
    <img src="assets/img/loading.gif" style="width: 150px; height: auto">
</div>