<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Results</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
            <li class="breadcrumb-item">Exam Results</li>
            <li class="breadcrumb-item active">Class 11/JEE - Mathematics (20 March 2024 03:00 PM) - Mock Test for
              Trignometry</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table datatable">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Student Name</th>
                <th>Total Questions</th>
                <th>Questions Attempted</th>
                <th>Correct Answers</th>
                <th>Wrong Answers</th>
                <th>Total Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Student 1</td>
                <td>20</td>
                <td>20</td>
                <td>15</td>
                <td>5</td>
                <td>25</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Student 2</td>
                <td>20</td>
                <td>18</td>
                <td>12</td>
                <td>6</td>
                <td>18</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>