<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <!-- <li id="dashboard_menu">
          <a routerLink="/dashboard"><i class="la la-dashboard"></i> <span> Dashboard</span></a>
        </li> -->
        <li id="students_menu">
          <a routerLink="/student"><i class="las la-users"></i> <span> Students</span>
          </a>
        </li>
        <li class="menu-title" style="display: none;">
          <span>Organization</span>
        </li>
        <!-- <li id="designations_menu">
          <a routerLink="/designations"><i class="las la-user-graduate"></i> <span> Designations</span>
          </a>
        </li> -->
        <li id="users_menu" style="display: none;">
          <a routerLink="/users"><i class="las la-users-cog"></i> <span>Users</span></a>
        </li>
        <li class="menu-title">
          <span>Curriculum</span>
        </li>
        <li id="courses_menu">
          <a routerLink="/course"><i class="las la-chalkboard-teacher"></i>
            <span> Course </span>
          </a>
        </li>
        <li id="classes_menu">
          <a routerLink="/class"><i class="las la-chalkboard-teacher"></i>
            <span> Class </span>
          </a>
        </li>
        <li id="subjects_menu">
          <a routerLink="/subject"><i class="las la-school"></i> <span> Subjects </span>
          </a>
        </li>
        <li id="chapters_menu">
          <a routerLink="/chapter"><i class="las la-book-open"></i> <span> Chapters </span>
          </a>
        </li>
        <li id="topics_menu">
          <a routerLink="/topic"><i class="las la-book-reader"></i> <span> Topics </span>
          </a>
        </li>
        <li id="subtopics_menu">
          <a routerLink="/subtopic"><i class="las la-book-reader"></i> <span> Sub-Topics </span>
          </a>
        </li>
        <!-- <li class="menu-title">
          <span>Media</span>
        </li>
        <li id="chaptervideos_menu">
          <a routerLink="/chaptervideos"><i class="las la-file-video"></i> <span> Chapter Videos </span>
          </a>
        </li>
        <li id="topicvideos_menu">
          <a routerLink="/topicvideos"><i class="las la-file-video"></i> <span> Topic Videos </span>
          </a>
        </li>
        <li id="videos">
          <a routerLink="/videos"><i class="las la-file-video"></i> <span>Videos </span>
          </a>
        </li> -->
        <li class="menu-title">
          <span>Assessments</span>
        </li>
        <li id="exams_menu">
          <a routerLink="/exams"><i class="las la-list-alt"></i> <span>Exams</span></a>
        </li>
        <li id="questionbank_menu">
          <a routerLink="/questionbank"><i class="las la-question-circle"></i>
            <span>Question Bank</span></a>
        </li>
        <li class="menu-title">
          <span>Reports</span>
        </li>
        <li id="examresult_menu">
          <a routerLink="/examresult"><i class="las la-check-square"></i> <span>Exam Result</span></a>
        </li>
        <li id="studentwiseanalysis_menu">
          <a routerLink="/studentwiseanalysis"><i class="las la-user-tie"></i>
            <span>Student-wise Analysis</span></a>
        </li>
        <!-- <li id="chapterwise_menu">
          <a routerLink="/chapterwise"><i class="las la-book-open"></i>
            <span>Chapter-wise Practice Report</span></a>
        </li>
        <li id="topicwise_menu">
          <a routerLink="/topicwise"><i class="las la-book-reader"></i>
            <span>Topic-wise Practice Report</span></a>
        </li>
        <li id="subtopicwise_menu">
          <a routerLink="/subtopicwise"><i class="las la-book-reader"></i>
            <span>Sub-Topic-wise Practice Report</span></a>
        </li> -->
      </ul>
    </div>
  </div>
</div>